<footer>
    <div class="footer-container">
        <section>
            <h2 class="footer-title">Sobre</h2>
            <p class="footer-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, laudantium atque
                tenetur porro id nisi
                harum animi sequi sed culpa repellendus quia aliquid debitis dolorem quas. Distinctio harum modi et.
            </p>
        </section>
        <address>
            <h2 class="footer-title">Contato</h2>
            <ul>
                <li>email@email.com</li>
                <li>(83)95687123</li>
            </ul>
        </address>
    </div>
    <section class="footer-copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>