
h1 {
    text-align: center;
    margin-top: 10px;
    color: #0056b3;
    font-size: 40px;
    font-weight: bold;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}


.product-list-card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    

}

.product-list-link {
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
    

    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-list-link:hover {
    background-color: #ddd;
   
}

.product-list-card img {
    width: 200px;

    height: 200px;

    align-items: center;

}


.product-list-link h2 {
    font-size: 18px;
    margin: 0;
}


.product-list-link p {
    font-size: 16px;
    margin: 5px 0;
    color: #007bff;
 
}

/* Estilo para o botão de compra */
.product-buy-button {
    background-color: #007bff;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto do botão */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Transição suave da cor de fundo */
}

.product-buy-button:hover {
    background-color: #0056b3;
    /* Cor de fundo quando o mouse passa por cima */
}